/*
Paleta de cores:
Verde: #49a09d
Lilás: #5f2c82 
*/
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #6d4d69;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background:#6d4d69 url(../imagens/pexels-aboodi-14985629.jpg) no-repeat;
    height: 200px;
    background-size: cover;
    background-position: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.548);
}   
section#login > div#formulario {
    display: block;
    padding: 10px;
    
}
div#formulario >h1 {
    margin-bottom: 10px;
    text-align: center;
}
div#formulario > p {
    font-size: 0.8em;
}
form > button[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 3px;
    background-color: #3d283a ;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
}
form > button[type=submit]:hover {
    background-color: #54619e  ;
}
form > a.botao {
    display: block;
    text-align: center;
    padding-top: 6px;
    font-size: 1em;
    margin-top: 3px;
    width: 100%;
    height: 40px;
    background-color: white ;
    color: #3d283a;
    border: 1pxpx solid #3d283a;
    border-radius: 5px;
    text-decoration: none;
}
form > a.botao > span {
    font-size: 0.8em;
}
form > a.botao:hover {
    background-color:#3d283a60;
}
form > div.campo {
    background-color: #6d4d69 ;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border: 1px solid #6d4d69;
}

div.campo > label {
    display: none;
}
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
    }
    div.campo > input {
        border: none;
        background-color: white;
        font-size: 1em;
        width: calc(100% - 45px);
        height: 89%;
        border-radius:5px;
        padding-top: 2px;
        padding-left: 4px;
        transform: translateY(-10px);

    }